.aw-catalog .clear { clear: both; }

.aw-catalog .catedit dt span.h {
	font-weight: bold;
	border-bottom: 1px dashed;
}

.aw-catalog .catedit dl {
	margin-bottom: 5px;
}
.aw-catalog .catedit dl.sel {
	background-color: #f8f8f7; 
}

.aw-catalog .catedit dt {
	float: left;
	clear: left;
	padding: 3px;
	padding-left: 7px;
	width: 209px;
}
.aw-catalog .catedit dd {
	padding: 3px;
	float: none;
	margin-left: 209px;
}
.aw-catalog .catedit dl.fld-descript dt {
	float: none;
}
.aw-catalog .catedit dl.fld-descript dd {
	margin-left: 0;
}
.aw-catalog .catedit dd input.fld {
	width: 350px;
}
.aw-catalog .catedit .dsc {
	color: #999999;
	display: block;
	font-size: 0.89em;
}
.aw-catalog .catedit dl.fld-img img {
	border: 1px solid #CCCCCC;
	margin-right: 10px;
}

.aw-catalog .catedit dl input {
	vertical-align: top;
}


#mod-catalog-manager { 
	padding:4px 0 0 10px;
}
#mod-catalog-manager .root {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:4px 0 0 2px;
}

#mod-catalog-manager .root li {
	border-top:1px solid #DDDDDD;
	padding:2px 0;
	position:relative;
}

#mod-catalog-manager .ctg-buttons {
	position:absolute;
	right:9px;
	top:3px;
	width:120px;
}
#mod-catalog-manager .ctg-buttons img {
	margin-right:6px;
	vertical-align:middle;
	cursor:pointer;
}
#mod-catalog-manager .ctg-list {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:4px 0 0 10px;
}
#mod-catalog-manager .ctg-list li {
	border-top:1px solid #DDDDDD;
	padding:2px 0;
	position:relative;
}
#mod-catalog-manager a {
  text-decoration: none;
}
