.aw-catalog .catalogman .brdtable {
	width: 100%;
}
.aw-catalog .catalogman .brdtable .brdlcol {
	width: 300px;
	border-right: 1px solid #D1D3DC;
}
.aw-catalog .catalogman .brdtable .brdlcol .explore {
	width: 300px;
}
.aw-catalog .catalogman .brdtable .brdrcol {
	padding-left: 5px;
}

.aw-catalog .catalogman .aw-catalog .elementlist {
	border-top: 1px solid #D1D3DC;
	margin-top: 10px;
	padding-top: 3px;
}