.aw-catalog .elementlist .elrow {
	min-height: 22px;
	position: relative;
}
.aw-catalog .elementlist .elrow:hover {
	background-color: #FFF0C6;
}
.aw-catalog .elementlist .elrow .tl {
	cursor: pointer;
    margin: 0 10px 0 5px;
    overflow: hidden;
    padding: 3px; 
    position: relative;
    white-space: nowrap;
}
.aw-catalog .elementlist .elrow .rborder {
	border: 1px solid #D1D3DC;
	border-radius: 5px;
}
/* * * Menu * * */
.aw-catalog .elementlist .elrow .elrmenu {
	position: absolute;
	background-color: #fff;
	border: 1px solid #dadada;
	border-right: none;
    display: none;
    right: 0px;
    top: -1px;
}
.aw-catalog .elementlist .elrow:hover .elrmenu {
	display: block;
}

.aw-catalog .elementlist .elrow .itemline:hover .elrmenu {
	display: block;
}
.aw-catalog .elementlist .elrow .elrmenu .b {
	cursor: pointer;
	padding-left: 5px;
	padding-top: 4px;
	width: 18px;
	height: 18px;
	float: left;
	border-right: 1px solid #dadada;
}
.aw-catalog .elementlist .elrow .elrmenu .b:hover {
	background-color: #FFF0C6; 
}
.aw-catalog .elementlist .elrow .elrmenu .bc {
	width: 12px;
	height: 14px;
}
.aw-catalog .elementlist .elrow .elrmenu .bgo {
	background: url("/modules/catalog/images/icons.png") no-repeat scroll -20px -39px transparent;
}

.aw-catalog .elementlist .elrow .elrmenu .badd {
	background: url("/modules/catalog/images/icons.png") no-repeat scroll -57px -24px transparent;
}
.aw-catalog .elementlist .elrow .elrmenu .bedit {
	background: url("/modules/catalog/images/icons.png") no-repeat scroll -29px -24px transparent;
}
.aw-catalog .elementlist .elrow .elrmenu .bremove {
	background: url("/modules/catalog/images/icons.png") no-repeat scroll -42px -24px transparent;
}

/* * * Editor * * */
.aw-catalog .elrow .easyeditor {
	margin: 5px;
	padding: 0 5px;
}
.aw-catalog .elementlist .elneweditor .easyeditor {
	border: 1px solid #D1D3DC;
	border-radius: 5px 5px 5px 5px;
	background-color: #FFF0C6;
	padding: 8px 8px 0px 8px;
}

