.aw-catalog .elementlist .elrow {
	min-height: 22px;
	position: relative;
}
.aw-catalog .elementlist .elrow:hover {
	background-color: #FFF0C6;
}
.aw-catalog .elementlist .elrow .tl {
	cursor: pointer;
    margin: 0 10px 0 5px;
    overflow: hidden;
    padding: 3px; 
    position: relative;
    white-space: nowrap;
}
.aw-catalog .elementlist .elrow .rborder {
	border: 1px solid #D1D3DC;
	border-radius: 5px;
}
/* * * Menu * * */
.aw-catalog .elementlist .elrow .elrmenu {
	position: absolute;
	background-color: #fff;
	border: 1px solid #dadada;
	border-right: none;
    display: none;
    right: 0px;
    top: -1px;
}
.aw-catalog .elementlist .elrow:hover .elrmenu {
	display: block;
}

.aw-catalog .elementlist .elrow .itemline:hover .elrmenu {
	display: block;
}
.aw-catalog .elementlist .elrow .elrmenu .b {
	cursor: pointer;
	padding-left: 5px;
	padding-top: 4px;
	width: 18px;
	height: 18px;
	float: left;
	border-right: 1px solid #dadada;
}
.aw-catalog .elementlist .elrow .elrmenu .b:hover {
	background-color: #FFF0C6; 
}
.aw-catalog .elementlist .elrow .elrmenu .bc {
	width: 12px;
	height: 14px;
}
.aw-catalog .elementlist .elrow .elrmenu .bgo {
	background: url("/modules/catalog/images/icons.png") no-repeat scroll -20px -39px transparent;
}

.aw-catalog .elementlist .elrow .elrmenu .badd {
	background: url("/modules/catalog/images/icons.png") no-repeat scroll -57px -24px transparent;
}
.aw-catalog .elementlist .elrow .elrmenu .bedit {
	background: url("/modules/catalog/images/icons.png") no-repeat scroll -29px -24px transparent;
}
.aw-catalog .elementlist .elrow .elrmenu .bremove {
	background: url("/modules/catalog/images/icons.png") no-repeat scroll -42px -24px transparent;
}

/* * * EasyEditor * * */
.aw-catalog .elrow .easyeditor {
	margin: 5px;
	padding: 0 5px;
}
.aw-catalog .elrow .easyeditor .r {
	margin-bottom: 7px;
}
.aw-catalog .elrow .easyeditor .rtl {
	margin-bottom: 7px;
	padding-bottom: 3px;
	border-bottom: 1px solid #D1D3DC;
	position: relative;
}
.aw-catalog .elrow .easyeditor .rtl .habtn {
	position: absolute;
	top: 0px; right: 0px;
	border-bottom: none;
}
.aw-catalog .elrow .easyeditor .fl {
	float: left;
}
.aw-catalog .elrow .easyeditor .fldtl {
	padding: 3px;
	width: 99%;
}
.aw-catalog .elrow .easyeditor .btns {
	border-top: 1px solid #D1D3DC;
	padding-top: 10px;
	margin-bottom: 10px;
}
.aw-catalog .elrow .easyeditor .mext {
	display: none;
}

/* * * Fotos * * */
.aw-catalog .easyeditor .fotolist {
	font-style: italic;
}
.aw-catalog .easyeditor .fotolist .foto {
	position: relative;
	float: left;
	border: 1px solid #D1D3DC;
	margin: 0 5px 3px 0;
}
.aw-catalog .easyeditor .fotolist .bremove {
	display: none;
	position: absolute; top: 0;	right: 0;
	width: 16px;
	height: 16px;
	background: url("/modules/catalog/images/remove.gif") no-repeat 0px 2px;
	border: 1px solid #D1D3DC;
	cursor: pointer;
	background-color: #FFF0C6; 
}
.aw-catalog .easyeditor .fotolist .bremove:hover {
	background-color: #000;
}
.aw-catalog .easyeditor .fotolist .foto:hover .bremove {
	display: block;
}

