/* * * Fotos * * */
.aw-catalog .easyeditor .fotolist {
	font-style: italic;
}
.aw-catalog .easyeditor .fotolist .foto {
	position: relative;
	float: left;
	border: 1px solid #D1D3DC;
	margin: 0 5px 3px 0;
}
.aw-catalog .easyeditor .fotolist .ba {
	position: absolute; 
	display: none;
	background-image: url("/modules/catalog/images/icons.png");
	border: 1px solid #D1D3DC;
	cursor: pointer;
	background-color: #FFF0C6; 
}
.aw-catalog .easyeditor .fotolist .bremove {
	top: 0;	right: 0;
	width: 16px; height: 16px;
	background-position: -40px -23px;
}
.aw-catalog .easyeditor .fotolist .bleft,
.aw-catalog .easyeditor .fotolist .bright {
	bottom: 0;
	width: 16px; height: 11px;
}
.aw-catalog .easyeditor .fotolist .bleft {
	left: 20px; background-position: -32px -48px;
}
.aw-catalog .easyeditor .fotolist .bright {
	left: 44px; background-position: -31px -38px;
}
.aw-catalog .easyeditor .fotolist .ba:hover {
	background-color: #000;
}
.aw-catalog .easyeditor .fotolist .foto:hover .ba {
	display: block;
}
